/**==============================================
 * *                Keypad
 *   Inning Arrows css styling
 *  Container - keypad-container,keypad-button
 *
 *  TODO - Contraints - 
 *     Media Types: Large Device, Small Device
 *  
 *=============================================**/
/* src/Components/Keypad/Keypad.css */

  /*!    Keyypad - Container    !*/
 /* Set min and max-width to control overall size */
#Keypad .keypad-container {
  /* min/max width of button container */
  min-width: 316px;  
  max-width: 484px;

  display: grid;  /* displayed in grib pattern */
  grid-template-columns: repeat(3, 1fr);

  gap: 1rem; /* Gap between buttons */
  margin: 10px;
} 

  /*!    Keyypad - Button    !*/
/* Set button style for keypad */ 
#Keypad .keypad-button {
  background-color: white;
  color: #0d4521;
  border-radius: 0.375rem;

  font-size: 1.5rem;

  padding: 0.75rem;
}
#Keypad .zero-button {
  grid-column: span 3;
}

/* Responsive Design */
/*REVIEW - Constraints Media Types */ 
/* Large Device */
/* @media (max-width: 368px) {
  #Keypad .keypad-button {
    padding: 1rem;
    font-size: 2rem;
  }
} */
/* Small Device */
/* @media (max-width: 380px) {
  #Keypad .keypad-button {
    padding: 0.75rem;
    font-size: 1.5rem;
  }
} */
