/**==============================================
 * *                Temp Score
 *  Temporary Score calculation css styling
 *  Container - temp-score-box
 *
 *  TODO - Contraints - 
 *     Media Types: Large Device, Small Device
 *  
 *=============================================**/
/* src/Components/TempScoreBox/TempScoreBox.css */

.temp-score-box {
  width: 140px;
  text-align: center;
    background-color: #bdda7f;
    color: black;  
    border-width: thin;
    border-color: hsl(0, 0%, 0%);
    border-radius: 0.75rem; 

    font-size: 2.875rem; 

    padding: .30rem; 
    margin-inline: 1.2rem;
    margin-block: 1.0rem;
}