/* src/Components/controlButtons/ControlButton.css */

/**===========================================================================
 *                          ControlButton Styling
 *===========================================================================**/

/* General styling for the control button body */
#ControlButton .body { 
  margin: 4px; /* Added unit for margin */
  display: inline-flex;
  justify-content: space-evenly;
}

/* Commented out block for the button styling */

#ControlButton .button {
  background-color: #ffffff;
  border: 4px solid blue;
  padding: 0.6em 1.2em;
  padding: 2px;
  font-size: large;
  color: #000000;
  margin: 1px;
  cursor: pointer;
  border-radius: 0.5;
}


/* Container styling for control buttons */
#ControlButton .control-buttons-container {
  width: 100%; /* Ensure container takes full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

/* Styling for individual control buttons */
#ControlButton .control-button {
  width: 50%; /* Ensure buttons take half the width */
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  /* Hover state for buttons */
  button:hover {
    border-color: #646cff;
  }

  /* Focus state for buttons */
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
