/**==============================================
 * *             ControlButton Styling
 
 *   Inning Arrows css styling

 *  Container - control-buttons-container, body
 *  Button  - control-button
 *  
 *=============================================**/
 /* src/Components/controlButtons/ControlButton.css */

 /**===========================================================================
 /*SECTION -            Button
 *===========================================================================**/
/* Container styling for control buttons */
#ControlButton .control-buttons-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* justify-content: center;  */
  /* Centers the buttons within the container */
  align-items: center;  
  /* Aligns elements centered in horizontal container */
  /* padding-bottom: 1rem;  */
  /* Padding below the control panel */
  /* gap: 10px;    */
  /* Adds space between the buttons */
}



/* General styling for the control button body */
/* Changed to flexbox for easier centering */
/* Centers the buttons horizontally */
/* #ControlButton .body {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin: 2px;
} */


/**===========================================================================
 /*SECTION -            Button
 *===========================================================================**/
/* Styling for individual control buttons */
/* width - auto - Allow buttons to size according to their content */
#ControlButton .control-button {
  /* width: auto;  */
  padding: 0.6em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
  /* Hover state for buttons */
  &:hover {
    border-color: #646cff;
    background-color: #333333;
  }
  /* Focus state for buttons */
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
