/* index.css */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: #242424;
  margin: 0 auto;
  padding: 0 auto;
  /* ********** */
  height: 100vh;
 /* ********** */

  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 920px; */
  /* max-width: 100%; */
}

.bg-main {
  /* width: 100%; */
  min-height: fit-content;
  min-width: 600px; /* Match the min-width of Keypad */
  margin: 0 auto;
  background-color: green;
  border: 4px solid black;
  color: white;
  padding: 0 auto; /* Reduced padding for better fit */
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content within bg-main */
}


/* Max-w --- Allow bg-main to scale down fully */ 
/* Padd ---- Adjust padding for smaller screens */
/* overflow -- Prevent unwanted horizontal scroll */
/* @media (max-width: 620px) {
  .bg-main {
    max-width: 100%; 
    padding: 1rem;
  }
  body {
    overflow-x: hidden; 
  }
} */
